#
# Example OpenSSL configuration file for use with Let's Encrypt.
# This is only being used for generation of certificate requests.
# Modified from a standard example by Parliament Hill Computers Ltd.
#

# This definition stops the following lines choking if HOME isn't
# defined.
HOME			= .
#RANDFILE		= $ENV::HOME/.rnd

[ req ]
default_bits		= 384
attributes		= req_attributes

# Stop confirmation prompts. All information is contained below.
prompt			= no

# The extensions to add to a certificate request - see [ v3_req ]
req_extensions		= v3_req

# This extension ensures fields are written in PrintableString .
string_mask         = nombstr

[ req_attributes ]
# None. Could put Challenge Passwords, don't want them, leave empty

[ v3_req ]

# X509v3 extensions to add to a certificate request
# See x509v3_config

# What the key can/cannot be used for:
basicConstraints = CA:FALSE
keyUsage = keyAgreement
extendedKeyUsage = clientAuth,serverAuth
